[submodule "class-01/demo/cr-301d10-dsa"]
	path = class-01/demo/cr-301d10-dsa
	url = https://github.com/DeltaVCode-Demo/cr-301d10-dsa
[submodule "class-02/demo/cr-301d10-dsa"]
	path = class-02/demo/cr-301d10-dsa
	url = https://github.com/DeltaVCode-Demo/cr-301d10-dsa
[submodule "class-02/demo/cr-301d10-demo2"]
	path = class-02/demo/cr-301d10-demo2
	url = https://github.com/DeltaVCode-Demo/cr-301d10-demo2
[submodule "class-03/demo/cr-301d10-dsa"]
	path = class-03/demo/cr-301d10-dsa
	url = https://github.com/DeltaVCode-Demo/cr-301d10-dsa
[submodule "class-03/demo/cr-301d10-demo2"]
	path = class-03/demo/cr-301d10-demo2
	url = https://github.com/DeltaVCode-Demo/cr-301d10-demo2
[submodule "class-05/cr301d10-portfolio"]
	path = class-05/cr301d10-portfolio
	url = https://github.com/DeltaVCode-Demo/cr301d10-portfolio
[submodule "class-08/cr-301d10-express"]
	path = class-08/cr-301d10-express
	url = https://github.com/DeltaVCode-Demo/cr-301d10-express
[submodule "class-08/cr-301d10-react"]
	path = class-08/cr-301d10-react
	url = https://github.com/DeltaVCode-Demo/cr-301d10-react
